* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Inter', 'Symbols Nerd Font';
  font-size: 16px;
  font-weight: 800;
  text-shadow: rgba(0, 0, 0, 0.25) 0 0 4px;
  /* border: 1px solid red; */
}

.modules-left {
  margin-left: 6px;
}

.modules-right {
  margin-right: 6px;
}

#workspaces button {
  padding: 0;
  margin: 0 3px;
  min-width: 12px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#bluetooth,
#network,
#pulseaudio,
#cpu,
#battery {
  /* font-weight: 500; */
  margin: 0 2px;
}

tooltip {
  padding: 2px;
  background-color: white;
  border: 1px solid red;
}

.hidden {
  opacity: 0;
}
